.title-container{
    height: 30vh;
    width: 100%;
    .center{
        text-align: center;
        .title{
            font-style: bold;
            font-size: 25pt;
            letter-spacing: 0.3em;
        }
    }

}
.bottom{
    width: 100%;
}