
<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>

<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="feed">
      <ion-icon name="bookmarks"></ion-icon>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="follow">
      <ion-icon name="flag"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="groups">
      <ion-icon name="people"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="notify">
      <ion-icon name="notifications"></ion-icon>
      <ion-badge>2</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="contact"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>