<ion-header>
    <ion-toolbar>
   
            <ion-row class="no-padding">
              <ion-col>
                  <ion-text color="primary left">
                      <h2 class="font-title">m0tero</h2>
                 </ion-text>
              </ion-col>
              <ion-col>
                <ion-row class="top">
                  <ion-col></ion-col>
                  <ion-col></ion-col>
                  <ion-col>
                      <ion-icon name="quote" class="top-icons"></ion-icon>
                  </ion-col>
                  <ion-col>
                      <ion-icon name="create" class="top-icons"></ion-icon>
                   </ion-col>
                </ion-row>
                  
              </ion-col>
            </ion-row>
    </ion-toolbar>
  </ion-header>

<ion-content>
  Hola malditos hijueputas
  <br><br><br>
  Que hola hpta
</ion-content>
