.no-padding{
    padding: 0 !important;  
    .font-title{
        font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif; 
        font-size: 19px; 
        font-style: normal; 
        font-variant: normal; 
        font-weight: 700; 
        line-height: 19.8px; 
        letter-spacing: 0.3em;
    }
    .top-icons{
        font-size: 24px;
    } 
}
.top{
    margin-top:2vh;
}
